.inter-titulos {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.inter-mid-titulos {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.inter-resumen {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.inter-subtitulos {
  font-family: "Inter", sans-serif;
  font-size: 12.5px;
  font-weight: 500;
}
.inter-soporte {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.inter-chica {
  font-family: "Inter", sans-serif;
  font-size: 7px;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}
/*HEADER*/
header {
  background-color: #000000;
  width: 100%;
  border-bottom: #a5a5a5 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
header img {
  width: 20%;
}
.titulo-solicitud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
}
h1 {
  color: #343434;
}
h2 {
  color: #000000;
}
p {
  color: #808080;
}
.seccion-titulo {
  color: #343434;
}
.configuracion-titulo {
  padding-bottom: 2rem;
}
/*DIV IMG REFERENCIAS*/
.div-referencia {
  padding-top: 1rem;
}

.referencia-img {
  margin-top: 1rem;
  border-radius: 1rem;
  width: 40%;
  height: auto;
}
.img-tela {
  padding-top: 1rem;
  width: 25%;
}
.img-tela img {
  width: 10%;
}
/*FORM DATOS*/

.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: center;
  margin: auto;
}
.top-input {
  border: #a5a5a5 1px solid;
  padding-top: 1rem;
  cursor: pointer;
}
.input-title {
  color: #343434;
  padding-top: 1rem;
}
input {
  display: flex;
}
.dropdown {
  padding-top: 1rem;
  border: #a5a5a5 1px solid;
  cursor: pointer;
}

option,
select {
  cursor: pointer;
}

/*SECCION PIEZAS*/
.pieza-seccion {
  display: flex;
  flex-direction: column;
}

.pieza-seccion,
.modelo-seccion,
.contacto-seccion,
.tela-seccion {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 20px;
  border-bottom: #343434 1px solid;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
/*---------PIEZAS ESCONDIDAS-------*/
.hidden {
  display: none;
}
/*COJINES*/
.a-cojines {
  padding-top: 1.5rem;
  color: #343434;
}

.suplementoPatas {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
.input-cojines {
  margin-bottom: 1rem;
}
/*------------SUPLEMENTOS--------*/
.suplemento-bateria,
.suplemento-motor,
.suplementoPatas,
.suplemento-respaldos,
.seccion-posapies {
  display: none;
}

/*------------SUPLEMENTO AGORA------------*/
.suplemento-agora {
  width: 100%;
  display: block;
  flex-direction: column;
  margin-top: 2rem;
}
.dropdown-agora {
  padding-top: 1rem;
  border: #a5a5a5 1px solid;
  cursor: pointer;
}
/* SECCION CONFIGURACION Y RESUMEN */
.configuracion-seccion {
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 60%;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#imagenPiezas {
  margin: auto;
  position: relative;
  display: block;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 10px 0;
  overflow: visible;
}
.img-config {
  object-fit: fill !important;
  max-width: none !important;
  max-height: none !important;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  transform-origin: center;
  position: relative;
  object-fit: fill;
}
.div-configuracion-resumen {
  display: flex;
  flex-direction: row;
}

.div-configuracion-img {
  flex: 2;
}

/*RESUMEN*/
.section-resumen {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
}
.itemsResumen {
  font-size: 13px;
}
/* Estilos para el título del resumen */
.resumen-a {
  color: #343434;
}
.precioResumen {
  color: #000000;
  font-weight: 900;
}
/* Estilos para la lista de resumen */
.ul-config li {
  display: flex;
  justify-items: start;
  padding-bottom: 1.5rem;
}
.ul-config {
  padding: 2rem;
  border: 1px solid #343434;
  border-radius: 1.5rem;
  color: #808080;
  list-style: none;
  display: block;
  gap: 5;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.div-descuento {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.descuento-input {
  border: #a5a5a5 1px solid;
  padding-top: 1rem;
  cursor: pointer;
}
/*BOTON*/
button,
.btnAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #000000;
  color: white;
  border-radius: 1.5rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover,
.btnAlert:hover {
  cursor: pointer;
  color: #000000;
  background-color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.btn-agregar {
  display: flex;
  margin: auto;
  margin-top: 1.5rem;
  transition: 1s;
}
.btn-pdf {
  cursor: pointer;
  padding: 1rem 1rem 1rem 1rem;
  margin: 2rem 5rem 2rem;
  transition: 1s;
}
.btn-pdf.active {
  background-color: #c0c0c0;
  color: white;
}

/*RESUMEN LI*/
li {
  color: #000000;
}

/*DROPDOWN*/
.teladiv {
  width: 100%;
}
.tela-div-h {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.telas-image {
  width: 50px;
  height: 50px;
}
.custom-select {
  position: relative;
}
.dropdown-select {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  border: #a5a5a5 1px solid;
  cursor: pointer;
}

.category-select {
  margin: 10px 0;
}
.selectTelaContainer {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  border: #a5a5a5 1px solid;
}
/*---------------------LUPA--------------*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 1.5rem;
  text-align: center;
  position: relative;
}
.overlay-img {
  width: 10%;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.search-container {
  position: relative;
  width: 300px;
}

#category-search {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.my-title,
.my-popup,
.my-text {
  background-color: white;
}

.my-confirm-button {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 1.5rem;
  font-family: "Inter";
  color: aliceblue;
  background-color: #d1c2a5;
  border: none;
  cursor: pointer;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1.5rem;
  transition: 1s;
}
/*--------------OVERLAY--------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

/* Contenido del modal de */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  overflow-y: auto;
  border-radius: 1rem;
  position: relative;
  position: relative;
  box-sizing: border-box;
}
.contacto-seccion h2 {
  margin-top: 0;
}
/* Botón para cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
/*-------SWEET ALERT-----*/
.popupAlert {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  border: 1px solid #000000;
}
.titleAlert {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.textAlert {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  gap: 0;
  display: flex;
  margin: auto;
  width: 60%;
  flex-direction: column;
  text-align: left;
}
